<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<!-- 用于将restful风格的url转换到servlet上，因此指向一个并不存在的路径-->
	<extension
         point="org.eclipse.equinox.http.registry.httpcontexts">
         <httpcontext
            id="com.zizibujuan.drip.server.restful.httpcontext">
	         <resource-mapping
	               bundle="com.zizibujuan.drip.server.restful"
	               path="/static/restful">
	         </resource-mapping>
         </httpcontext>
    </extension>
	<extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/"
            httpcontextId="com.zizibujuan.drip.server.restful.httpcontext">
      </resource>
    </extension>
</plugin>
